html{
  scroll-behavior: smooth;
}

/* ヘッダー */
.header_whole{
  display: block;
  z-index: 30;
  position: fixed;
  padding-top: 5px;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgb(204 204 204);
}
.header_logo{
  float: left;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(timeline_20210903_102948.jpeg) no-repeat ;
  width: 166px;
  height:42px;
  background-size: 130px 100px;
  background-position: center;
  margin-left: 30px;
  margin-top: 18px;
}

/* 下矢印ボタンの説明 */
.title-border {
  z-index: 30;
  margin-top: 30px;
  margin-bottom: -35px;
  margin-left: 17%;
  display: flex;
  align-items: center;

  }
  .title-border:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 0.08;
  }
  .title-border:after {
  margin-left: 1rem;
  }

/* 下矢印ボタン */
.circle i {
  position: absolute;
  top: 24%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  animation: updown 2s infinite ease-in-out;
  color: #02C153;
}
@keyframes updown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* ヘッダー右部分 */
.header_right_whole{
  float: right;
  vertical-align: bottom;
  padding: 0 0 10px 0;
  margin: 20px 80px 20px 0;
}
.header_right{
  color: #000;
  font-size: 16px;
  margin-left: 40px;
}
.hover_action1 {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.hover_action1::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  padding-bottom: 1px;
  background: #000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.hover_action1:hover::after {
  transform: scale(1, 1);
}
.header_line {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header_line::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #33ff00;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.header_line:hover::after {
  transform: scale(1, 1);
}

/* ファーストビュー */
.first_view_text {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  position: relative;
  margin-top: 5px;
  text-shadow:0 0 3px #11191a,0 0 3px #000;
}
.text_and_button{
    float: right;
    padding-top: 30%;
}  
.text_on_img1{
  font-size: 60px; 
}
.text_on_img2{
  font-size: 40px;
}
.line_button_first_view{
  display: inline-block;
  min-width: 327px;
  background-color: #02C153; 
  color: #fff;
  /* padding: 15px 0; */
  margin-top: 60px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  left: 20%; 
}  
.line_button_first_view:hover{
transition: 0.3s;
background-color: #fff;
color:#02C153;
-webkit-transform: translateX(4px);
  transform: translateX(10px);
}
.fab{
padding-right: 20px;
font-size: 30px;
}
.fas{
  padding-left: 20px;
  font-size: 30px;
}
/* ファーストビュー右側の画像スライド */
.slides{
  width: 100%;
  overflow: hidden;
}
.slides img {
  position: absolute;
  width: 100%;
  height: 110%;
  display: block;
  animation: slideshow 20s linear infinite;
  border-bottom-left-radius: 1000px 80px;
  border-bottom-right-radius: 1000px 80px;
}
@keyframes slideshow {
  0% {
      opacity: 0;
  }
  8% {
      opacity: 1;
  }
  18% {
      opacity: 1;
  }
  28% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.slides img:nth-child(2) {
  animation-delay: 4s;
}

.slides img:nth-child(3) {
  animation-delay: 10s;
}

.slides img:nth-child(4) {
  animation-delay: 16s;
}

.slides img:last-child {
  animation-delay: 20s;
}

/* akira */
/* 活動記録とPOSSE概要 */
.container_border{
  border: 1px solid #eee;
  position: relative;
  display: inline-block;
  color: #666666;
  text-decoration: none;
  background-color:#f5f5f5;
  margin: 30px 30px;
}
.container_border::after,
.container_border::before,
.container_border span::after,
.container_border span::before {
  background-color: #666666;
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  transition: all .6s ease;
  -webkit-transition: all .3s ease;
}
/* 左上へ配置 */
.container_border::after {
    width: 0px;
    height: 4px;
    top: -1px;
    left: -1px;
}
/* 右下へ配置 */
.container_border::before {
    width: 0px;
    height: 4px;
    right: -1px;
    bottom: -1px;
}
/* 左下へ配置 */
.container_border span::after {
    width: 4px;
    height: 0px;
    left: -1px;
    bottom: -1px;
}
/* 右上へ配置 */
.container_border span::before {
    width: 4px;
    height: 0px;
    top: -1px;
    right: -1px;
}
/* hover */
.container_border:hover::after,
.container_border:hover::before {
  width: 100%;
  width: calc(100% + 1px);
}
.container_border:hover span::after,
.container_border:hover span::before {
  height: 100%;
  height: calc(100% + 1px);
}

/* 活動記録とPOSSE概要の中身 */
.container_items{
    background-color:#fff;
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    margin-bottom: 10%;
}
span .page{
  width: 45vw;
  height: 450px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.box{
  position: relative;
  width: 22.5vw;
  height: 450px;
  overflow: hidden;
}
.box::before{
  content: '';
  position: absolute;
  left:0;
  top: 0;
  width:100%;
  height:100%;
  z-index: 1;
  background-color: #fff;
}
.clip {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-1::before {
  transform: skewY(45deg);
  transform-origin: bottom right;
}
.box-2::before {
  transform: skewY(225deg);
  transform-origin: bottom left;
}

/* 活動記録とPOSSE概要のテキスト */
.text h1{
  font-size: 40px;
  z-index: 10;
  position: absolute;
  color: #6eb0f9;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
  top: 20%;
  left:15%;
}
.text p{
  font-size: 20px;
  z-index: 10;
  position: absolute;
  color: black;
  top: 30%;
  left:23%;
  margin-top: 40px;
  letter-spacing: 2px;
}

/* 活動記録とPOSSE概要のボタン */
.page a {
  z-index: 20;
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #333;
  padding: 18px 30px;
  outline: 2px solid;
  outline-color: #333;
  outline-offset: 0px;
  display: inline-block;
  transition: .3s;
  top: 70%;
  left: 55% ;
}
.page a:hover {
  animation: light .8s infinite;
}
@keyframes light {
  100% { 
    outline-color: transparent;
    outline-offset: 12px;
  }
}


/* yuuta */
/* 入会までの流れのステップ説明 */
.official_line .progressbar {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-shadow:0 0 3px #11191a,0 0 3px #000;
}
.step_number{
  color: #0070BD;
}
.progressbar li {
  position: relative;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  width: 33.333%;
  color: #FFFFFF;
  font-weight: bold;
  counter-increment: steps;
  margin: 0 10px;
}
.progressbar li:before {
  display: block;
  width: 26px;
  height: 26px;
  margin: 7px auto 20px auto;
  content: '';
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
  background-color: black;
  content: counter(steps);
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active,
.progressbar li.complete{
  color: #02C153;
}
.progressbar li.active:before,
.progressbar li.complete:before {
  background-color:#02C153;
  color: #FFF;
}
.progressbar li.active:after,
.progressbar li.complete:after {
  background-color: #0070BD;
}

/* 公式ライン追加 */
.official_line{
  padding:10vh 35vw;
  background-color: #656c6e;
}
.line_button_container{
color:#fff;
}
.official_line   button { 
border: 0;
box-shadow: none;
cursor: pointer;
padding:0 10px;
color: #33ff00;
}
.official_line button {
display: block;
width: 300px;
height: 70px;
margin: 40px auto 0;
color: #fff;
font-size: 1.5em;
background: #02C153;
box-shadow: 0 8px 15px 0 #000;
transition: .3s;
}
.official_line button:hover {
color: #062c0c;;
box-shadow: none;
transform: translate3d(0, 8px, 0);
color: #02C153;
}
.qr_code{
  margin-top: 30px;
  margin-left: 10.5vw;
  width:32%;
  text-align: center;
}
.balloon {
  color: #fff;
  position: relative;
  background-color: #656c6e;
  border-bottom: 2px solid #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-top: 15%;
}
.balloon:before,
.balloon:after {
content: "";
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
}
.balloon:before {
border: 12px solid transparent;
border-top: 12px solid #525252;
}
.balloon:after {
border: solid 14px transparent;
border-top: solid 14px #fff;
margin-top: -5px;
}
.balloon p {
margin: 0;
padding: 0;
}
.talk_pic{
    width:90%;
    height: auto;
    display:inline-block;
    margin-left: 6%;
    margin-top: 15%;
}

/* yohei */
/* SNSシェア */
.button_block{
  padding: 35px 0;
  text-align: center;
  background-color:#484848;
}
.share_button{
  display: inline-block;
  width: 162px;
  height: 46px;
  line-height: 48px;
  font-size: 14px;
  color: #13191b;
  border: 1px solid #13191b;
  text-align: center;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  padding:0 4px;
  margin:0 10px;
}
.share_button_facebook{
  color: #fff;
  border-color: #fff;
}
.share_button_twitter{
  color: #fff;
  border-color: #fff;
}
.share_button_bookmark{
  color: #fff;
  border-color: #fff;
}

/* フッター */
.footer_nav_whole{
  background-color:#484848 ;
  display: flex;
  padding: 50px 0;
  padding-left: 5%;
  justify-content: space-between;
}
.footer_nav_each{
  color: #fff;
  font-size: 14px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}
.footer_nav2{
  background-color: #484848;
}
.footer_right2{
  float: right;
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  vertical-align: middle;
  margin-right: 50px;
}
.footer_whole{
  display: block;
  z-index: 999999;
  position: fixed;
  padding-top: 5px;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgb(204 204 204);
}
.footer_right_whole{
  vertical-align: bottom;
}
.footer_right{
  color: #fff;
  font-size: 16px;
  margin-left: 40px;
}
.hover_action2 {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.hover_action2::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  padding-bottom: 1px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.hover_action2:hover::after {
  transform: scale(1, 1);
}





 /* レスポンシブ対応 */
 @media(max-width: 600px){


  /* ヘッダー */
  .header_right_whole  {
      display: block;
      display: none;
  }

  .title-border{
    display: block;
    display: none;
  }
  header .scroll{
    display: block;
    display: none;
  }

  .section_news_each{
      left: 50%;
  }

  .section_right img{
      width: 100%;
  }

  .section_day{
    display: block;
    display: none;

  }
  .section_text_detail{
    display: block;
    display: none;

  }

  .section_text_main{
    display: block;
    display: none;
     
  }

  /* bodyの中身 */
  /* ファーストビュー */
  .slides img{
      width: 100%;
      height: 50%;
      /* display: block;
      display: none; */
      font-size: 2px;
  }

  .page a{
      margin-top: 10%;
      font-size: 0.02em;
  }

  .text_and_button{
     font-size: 8em;
     line-height: 30px;
  }

  .text_on_img1{
      width: 100%;
      height: auto;
  }

  .line_button_first_view{
      float: left;
      margin-left: 0;
      padding-left: 0;
      width: 60vw;
      font-size: 0.06em
  }

  .container_items{
      width:100%;
      padding-top:10vh ;

      display: flex;
      flex-direction: column;
  }

  div.page{
      padding-right: 50%;
  
  }

 span .page{
     margin-right: 0;
 }
 /* フッター共通 */
.progressbar{
    display: flex;
    flex-direction: column;
    left: 36%;
} 

.scroll button{
  width: 200px;
}

.talk_pic{
    width: 140%;
    height: auto;
}


  }